@use './mixins' as *;

%focus-position {
  left: 50%;
  top: 60%;
  width: 100%;
  @include center-screen;
}

.focus {
  @extend %focus-position;

  div {
    text-align: center;
    width: 100%;
  }
}

.focus-input {
  @extend %focus-position;
  top: 65%;

  div {
    text-align: center;
  }
}
