@use './mixins' as *;
@use './variables' as *;

.focus {
  @include i-button-style;

  margin-top: 8vmin;
  text-align: center;

  span {
    font-size: 5.3vmin;
  }

  button {
    margin-left: 1vmin;

    &:hover {
      color: $red !important;
    }
  }
}

.focus-input-container {
  input[type='text'] {
    font-size: 4.3vmin;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 0.5vmin solid white;
    color: white;
    width: 80vmin;
  }

  span {
    font-size: 4.3vmin;
  }
}
