@use './mixins' as *;
@use './variables' as *;

.focus {
  margin-top: 3rem;
  text-align: center;

  span {
    font-size: 5.3vmin;
  }

  button {
    margin-left: 1rem;
    color: white;
    @include i-button-style;

    &:hover {
      color: $red !important;
    }
  }
}

.focus-input-container {
  input[type='text'] {
    font-size: 4.3vmin;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
  }
}
