@use './variables' as *;

@mixin i-button-style {
  button {
    color: white;
    border: none;
    background-color: transparent;

    &:hover {
      color: $light-gray;
    }
  }

  i {
    font-size: 2vmax;
  }
}

@mixin menu-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0vmin 1vmin 2vmin, rgba(0, 0, 0, 0.23) 0vmin 0.6vmin 0.6vmin;
}

@mixin menu-submit-btn {
  button {
    font-size: 2vmin;
    background-color: $green;
    color: white !important;
    padding: 1.4vmin 2vmin;
    margin: 0.8vmin 0;
    border: none;
    border-radius: 0.4vmin;
    width: 90%;

    &:hover {
      background-color: $green-hover;
    }
  }
}
