@use './variables' as *;

@mixin center-screen {
  position: absolute;
  transform: translate(-50%, -50%);
}

@mixin menu-style {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@mixin button-style {
  button {
    background-color: transparent;
    border: none;
    color: white;

    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

@mixin input-text($background, $border, $border-bottom, $color) {
  background: $background;
  border: $border;
  border-bottom: $border-bottom;
  color: $color;
}
