@use './variables' as *;

@mixin i-button-style {
  button {
    color: $white;
    border: none;
    background-color: transparent;

    &:hover {
      color: $gray-400;
    }
  }

  i {
    font-size: 2vmax;
  }
}

@mixin menu-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0vmin 1vmin 2vmin, rgba(0, 0, 0, 0.23) 0vmin 0.6vmin 0.6vmin;
}

@mixin menu-submit-btn {
  button {
    font-size: 2vmin;
    background-color: $green;
    color: white !important;
    padding: 1.4vmin 2vmin;
    margin: 0.8vmin 0;
    border: none;
    border-radius: 0.4vmin;
    width: 90%;

    &:hover {
      background-color: $green-hover;
    }
  }
}

@mixin menu-style {
  display: none;
  overflow-y: scroll;
  height: 70vmin;
  width: 95vmin;
  background-color: $white;
  border-radius: 1.5vmin;
}

@mixin menu-h1-style {
  background-color: $blue;
  text-align: center;
  font-size: $text-font-size;
  padding: 1vmin;
}

@mixin menu-h2-style {
  color: $black;
  font-size: $text-font-size;
}

@mixin menu-container-style {
  padding: 2vmin;
  text-align: center;
}

@mixin menu-input-text-style {
  padding: 1vmin;
  font-size: $text-font-size;
  color: $black;
  background: none;
  border: none;
  border-bottom: 0.5vmin solid $black;
  width: 90%;
}

@mixin menu-span-style {
  color: $green;
  cursor: pointer;

  &:hover {
    color: $green-hover;
  }

  i {
    font-size: $text-font-size;
  }
}

@mixin menu-list-style {
  font-size: $text-font-size;

  i {
    font-size: 1.6vmax;
  }

  ul {
    color: $black;
  }
}

@mixin menu-li-stlye {
  color: $black;
  text-align: left;
  margin-left: 3vmin;
  margin-right: 3vmin;
  padding: 1vmin;
  transition: 0.2s;
  cursor: pointer;
}
