@use './mixins' as *;
@use './variables' as *;

.quote {
  left: 50%;
  bottom: 0;
  margin: 1rem;
  @include center-screen;

  div {
    text-align: center;

    p {
      font-size: 3vmin;
      font-style: italic;
    }
  }
}
