@use './mixins' as *;

.quote {
  left: 50%;
  bottom: 0;
  position: absolute;
  margin: 1rem;
  transform: translate(-50%, -50%);

  div {
    text-align: center;

    p {
      font-size: 1.6rem;
      font-style: italic;
    }
  }
}
