@use './variables' as *;
@use './mixins' as *;

.settings {
  position: absolute;
  margin: 1rem;

  a:hover {
    color: $light-gray;
  }
}

.settings-menu {
  display: none;
  width: 30vmax;
  height: 80vh;
  background-color: white;
  overflow: scroll;
  margin-top: 1rem;
  @include menu-style;
}
