@use './variables' as *;
@use './mixins' as *;

%div-default-margin {
  margin-top: 2vmin;
}

.settings {
  @include i-button-style;

  button {
    margin: 2vmin;
  }
}

.settings-menu {
  @include menu-box-shadow;
  @include menu-style;
  margin-left: 2vmin;

  h1 {
    @include menu-h1-style;
  }
}

.name-input-container {
  @include menu-container-style;

  input[type='text'] {
    @include menu-input-text-style;
  }

  div {
    @extend %div-default-margin;

    button {
      font-size: 3vmin;
      background-color: $green;
      color: white !important;
      padding: 2vmin 2vmin;
      margin: 0.8vmin 0;
      border: none;
      border-radius: 0.4vmin;
      width: 90%;

      &:hover {
        background-color: $green-hover;
      }
    }
  }
}

.quote-input-container {
  padding: 2vmin;
  text-align: center;

  input[type='text'] {
    @include menu-input-text-style;
    width: 85%;
  }

  div {
    @extend %div-default-margin;
  }

  h2 {
    @include menu-h2-style;
  }

  span {
    @include menu-span-style;
  }
}

.quote-list {
  @include menu-list-style;

  li {
    @include menu-li-stlye;
    cursor: auto;

    i {
      cursor: pointer;
    }
  }
}
