@use './variables' as *;
@use './mixins' as *;

%settings-menu-text-style {
  color: black;
  font-size: 2rem;
}

.settings {
  position: absolute;
  margin: 1rem;
  @include button-style;
}

.settings-menu {
  // display: none;
  width: 100vmin;
  max-width: 30vmax;
  height: 80vh;
  background-color: white;
  overflow-y: scroll;
  margin-top: 1rem;
  @include menu-style;
  margin-bottom: 5rem;
}

.settings-menu-header {
  color: black;
  text-align: center;
  background-color: $dark-gray;
  padding: 1rem;

  span {
    color: white;
    font-size: 3rem;
    font-weight: bold;
  }
}

.settings-menu-form {
  padding: 1rem;
  width: 100%;
}

.name-fieldset {
  border: none;

  div {
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  input[type='text'] {
    @include input-text(none, none, 2px solid black, black);
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
  }
}

.quote-fieldset {
  border: none;

  div.quote-header {
    @extend %settings-menu-text-style;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
  }
}

.quote-list {
  li {
    @extend %settings-menu-text-style;

    div {
      display: flex;
      width: 100%;
      text-align: center;
      padding: 2rem;
    }

    input[type='text'] {
      @include input-text(none, none, 2px solid black, black);
      margin-top: 1rem;
      padding: 1rem;
      font-size: 2rem;
      width: 100%;
    }

    span {
      @extend %settings-menu-text-style;
      font-weight: 400;

      &:hover {
        color: $red;
      }
    }
  }
}

.settings-submit-btn {
  background-color: #04aa6d !important;
  border: none;
  color: white !important;
  width: 100%;
  padding: 2rem;
  font-size: 1.6rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;

  &:hover {
    background-color: #059862 !important;
    color: white !important;
  }
}
