@use './variables' as *;
@use './mixins' as *;

.todo {
  right: 0;
  bottom: 0;
  position: absolute;
  transform: translate(-50%, -50%);

  a:hover {
    color: $light-gray;
  }
}

.todo-menu {
  display: none;
  position: absolute;
  width: 40vmax;
  height: 80vh;
  top: -80vh;
  right: 0;
  background-color: white;
  overflow: scroll;
  margin-top: -1rem;
  @include menu-style;
}
