@use './variables' as *;
@use './mixins' as *;

.todo {
  right: 0;
  bottom: 0;
  @include center-screen;
  @include button-style;
}

.todo-menu {
  display: none;
  position: absolute;
  top: -80vh;
  right: 0;
  width: 100vmin;
  max-width: 40vmax;
  height: 80vh;
  margin-top: -1rem;
  overflow: scroll;
  background-color: white;
  @include menu-style;
}
