@use 'partials' as *;

.center-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.fade-bg {
  transition: 1s background-image ease;
}

.fade-animation {
  animation: showAnimation 0.3s forwards;
}

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active-btn {
  color: $gray-400 !important;
}

.delete {
  color: black !important;
  font-size: 2vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.delete:hover {
  color: $red !important;
}
