@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("../img/bg-early-morning.png");
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: white;
}

input,
textarea,
select {
  font-family: "Lato", sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

.settings {
  position: absolute;
  margin: 1rem;
}
.settings button {
  background-color: transparent;
  border: none;
  color: white;
}
.settings button:hover {
  color: #d3d3d3;
  cursor: pointer;
}

.settings-menu {
  display: none;
  width: 100vmin;
  max-width: 30vmax;
  height: 80vh;
  background-color: white;
  overflow: scroll;
  margin-top: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.center-container {
  left: 50%;
  top: 40%;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

.clock {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.clock div {
  text-align: center;
}
.clock div h1 {
  font-size: 20vmin;
}

.greeting {
  margin-top: 4rem;
  left: 50%;
  top: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100%;
}
.greeting div {
  text-align: center;
}
.greeting div span {
  font-size: 8vmin;
  font-weight: bold;
}

.quote {
  left: 50%;
  bottom: 0;
  position: absolute;
  margin: 1rem;
  transform: translate(-50%, -50%);
}
.quote div {
  text-align: center;
}
.quote div p {
  font-size: 3vmin;
  font-style: italic;
}

.todo {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.todo button {
  background-color: transparent;
  border: none;
  color: white;
}
.todo button:hover {
  color: #d3d3d3;
  cursor: pointer;
}

.todo-menu {
  display: none;
  position: absolute;
  top: -80vh;
  right: 0;
  width: 100vmin;
  max-width: 40vmax;
  height: 80vh;
  margin-top: -1rem;
  overflow: scroll;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.focus-input, .focus {
  left: 50%;
  top: 80%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.focus-input button, .focus-input span, .focus-input div input[type=text], .focus div span {
  font-size: 4.2vmin;
}

.focus-input span, .focus-input div input[type=text], .focus-input div, .focus div {
  text-align: center;
}

.focus div {
  width: 100%;
}
.focus-today-header {
  font-weight: bold;
}

.focus-input {
  margin-top: 2rem;
  top: 85%;
}
.focus-input div input[type=text] {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
.focus-input button {
  background-color: transparent;
  border: none;
  color: white;
}
.focus-input button:hover {
  color: #d3d3d3;
  cursor: pointer;
}
.focus-input button {
  margin-left: 1rem;
}
.focus-input button span {
  position: absolute;
  bottom: 0;
}

.fade-bg {
  transition: 1s background-image ease;
}

.fade-animation {
  -webkit-animation: showAnimation 0.3s forwards;
          animation: showAnimation 0.3s forwards;
}

@-webkit-keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}

.active-btn {
  color: #d3d3d3 !important;
}/*# sourceMappingURL=main.css.map */